@model MVCLab.Models.Company

<h2>@Model.Name</h2>
<p><strong>Type:</strong> @Model.Type</p>
<p><strong>Date Start:</strong> @Model.DateStart.ToShortDateString()</p>
<p><strong>Address:</strong> @Model.Address</p>
